<?xml version="1.0" encoding="UTF-8"?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find mbot_sim)/urdf/xacro/mbot_base.xacro" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />

    <xacro:property name="camera_offset_x" value="0.17" />
    <xacro:property name="camera_offset_y" value="0" />
    <!-- 因为车体的长度为0.16，摄像头的高度应大于0.08 -->
    <xacro:property name="camera_offset_z" value="0.10" />
    
    <mbot_base/>
   
   <!--neck link-->
   
    <!-- Camera joint的定义-->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <xacro:usb_camera prefix="camera"/>

</robot>
