<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
    </include>

    <node pkg="imu_filter_madgwick" name="imu_filter_node" type="imu_filter_node" output="screen">
        <remap from="imu/data" to="rtabmap/imu"/>
        <remap from="imu/data_raw" to="camera/imu"/>
        <param name="use_mag" type="bool" value="false"/>
        <param name="publish_tf" type="bool" value="false"/>
        <param name="world_frame" type="string" value="enu"/>
    </node>

</launch>


